.backgrround {
  max-width: 100%;
  background-color: rgb(211, 209, 209);
  min-height: 10vh;
}
.backgrround h1 {
  font-family: "Moon Dance", cursive;
  font-weight: 800;
  color: #219ebc;
  margin-left: 10vh;
  cursor: pointer;
  margin-top: -0.01em;
}
span {
  color: red;
  font-size: 1.5em;
}
.header_logo {
  float: right;
  margin-top: -8.5vh;
  margin-right: 10vh;
}

.header_logo button {
  background-color: #219ebc;
  color: white;
  border: none;
  padding: 1.2vh;
  max-width: 13vh;
  border-radius: 1vh;
  font-size: 0.9em;
}

.fp-container {
  display: flex;
}
.title {
  color: #023047;
  font-size: 50px;
  font-weight: 700;
  letter-spacing: 3px;
}

.fp-items button {
  margin-top: 3vh;
  background-color: #219ebc;
  color: white;
  box-sizing: border-box;
  padding: 1vh;
  width: 18vh;
  border: none;
  border-radius: 1vh;
  font-size: 1em;
}
.battan:hover {
  background-color: #ffb703;
}
.fp-container img {
  margin-top: 8vh;
  width: 100vh;
  height: 80vh;
}
.fp-items p {
  width: 69vh;
}
.fp-items {
  width: 100vh;
  display: flex;
  flex-direction: column;
  margin-top: 30vh;
  margin-left: 10vh;
}
